<nav>
  <h1><a href='http://multilatex.com' class='hidden-link'>{{site.theme.title}}</a></h1>
  <a href="/">
    <img src="/logo.png" id="logo" alt="{{site.theme.title}} logo"/>
  </a>
  <h2><a href='/' class='hidden-link'>Blog</a></h2>
  <p>Building a collaborative web Latex editor.</p>
  <hr/>
  <div>
    <div id="social">
      <p>Created by <a href='{{site.theme.website}}'>{{site.theme.name}}</a>,<br/>M.Sc. student at <a href='http://www.infoiasi.ro/bin/Main/'>FCS</a>.</p>
      <div id="stalker">
        <a href="mailto:{{site.theme.email}}">
          <i class="fa fa-envelope"></i>
        </a>
        
        <a title="{{site.theme.name}} on Github" href="https://github.com/{{site.theme.social.github}}">
          <i class="fa fa-github"></i>
        </a>

        <a title="RSS feed" id="rss" href="/atom.xml">
          <i class="fa fa-rss"></i>
        </a>
      </div>
    </div>
  </div>
</nav>