---
---
{% for post in site.posts limit:3 %}
  <h1 class='title'>{{ post.title }}</h1>
  <p class='date'>{{ post.date | date: "%B %d, %Y" }}</p>
  <div class='post'>
    {{ post.content }}
  </div>
{% endfor %}
